# ==========================================
# Node
# ==========================================
node_modules/

# ==========================================
# Environment variables
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Expo
# ==========================================
.expo/
.expo-shared/

# Expo web/build output
dist/
web-build/

# ==========================================
# React Native
# ==========================================
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ==========================================
# Android
# ==========================================
android/.gradle/
android/local.properties
android/.idea/
android/app/build/
android/build/
android/.cxx/
android/.externalNativeBuild/

# ==========================================
# iOS
# ==========================================
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcuserstate
ios/xcuserdata/

# ==========================================
# Metro / React Native
# ==========================================
.metro-health-check*
.packager-info*
*.hprof

# ==========================================
# Logs
# ==========================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# Debug / temp files
# ==========================================
*.tmp
*.temp


# OS
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# VS Code / IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# TypeScript
# ==========================================
*.tsbuildinfo

# ==========================================
# EAS
# ==========================================
.eas/
.easignore

# ==========================================
# Generated / build files
# ==========================================
coverage/